<html>
<head>
  <title>Friends</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="{{url_for('static', filename='friends.js')}}" charset="utf-8"></script>
</head>
<body>
  <div class="friend">
  </div>
  <div class="friends">
  </div>
  <!-- we can use the line below to see all of our data in our template -->
    <h2>Add a Friend</h2>
    <form class='create' action='/friends' method='POST'>
      <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
      <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
      <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation"></label>
      <input type="submit" value="Add">
    </form>
</body>
</html>
